@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');/* Google Fonts API */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}
:root{
  --bgColor : rgb(0, 18, 107);
  --fontFamily : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
  padding: 13px;
  display: flex;
  background-color: var(--bgColor);
  color: white;
  font-family:var(--fontFamily);
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
#siteLogo{
  cursor: pointer;
  font-size: 27px;
  letter-spacing: .5px;
  word-spacing: .5px;
  color: white;
  margin-top: 4px;
}
a{text-decoration: none;}
nav{
  /* border: 2px solid red; */
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  color: white;
  font-size: 19px;
}
.active{color: gold;}
nav a:hover{color: rgb(255, 255, 106);}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Crimson Pro', serif;
}
/* Home Component */
#homePage{text-align: center;}
/* Login & Sign Up & Add Blog Component */
#loginContainer,#signUpContainer,#addBlogContainer{
  box-shadow: 0px 0px 13px rgb(137, 172, 208);
  width: 60%;
  height: auto;
  display: flex;
}
#loginImage,#signUpImage{
  height: auto;
  width: 50%;
}
#loginImage img,#signUpImage img,#addBlogImage img,#updateBlogImage img{
  border-right: 1px solid rgb(234, 234, 234);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#loginDetails,#signUpDetails,#blogDetails{
  padding: 13px;
  width: 50%;
}
#loginTitle,#signUpTitle{
  font-size: 30px;
  margin: 17px 0px;
  color: rgb(8, 108, 215);
}
#signUpTitle{
  color: black;
}
#loginForm,#signUpForm,#addBlogForm,#updateBlogForm{
  display: flex;
  flex-direction: column;
}
#loginForm input,button,span,#signUpForm input,button,span,#addBlogForm input,button,span,textarea,#updateBlogForm input,button,span,textarea{
  padding: 4px;
  font-size: 17.7px;
  margin: 17px 0px;
}
#loginForm input,#signUpForm input,#addBlogForm input,#updateBlogForm input{
  outline: none;
  border: none;
  border-bottom: 1px solid var(--bgColor);
}
#loginForm input:focus,#signUpForm input:focus,#addBlogForm input:focus,#updateBlogForm input:focus{
   box-shadow: 0px 0px 10px  rgb(90, 109, 255) ;
}
#loginForm #otherLoginOptions{
  text-align: center;
}
#otherLoginOptions .faIcons{
  font-size: 23px;
  margin: 13px 7px;
  cursor: pointer;
}
#loginForm button,#signUpForm button,#addBlogForm button,#updateBlogForm button{
  padding: 13px;
  background-color: rgb(140, 152, 225);
  color: white;
  border: none;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}
#loginForm button:hover{
  background-color: rgb(172, 183, 255);
  color: rgb(43, 43, 43);
}

#blogTitleMain,#updateBlogTitleMain{text-align: center;}
#updateBlogTitleMain{
  margin-top: 10px;
  font-size: 25px;
}
#addBlogContainer,#updateBlogContainer{
  margin-top: 10px;
  width: 60%;
  height: fit-content;
  border: 1px solid grey;
  font-size: 20px!important;
}
#updateBlogContainer{

  width: 45%;
  flex-direction: row!important;
}
#updateBlogContainer #blogDetails{
  width: 100%;
}
#updateBlogImage{
  width: 100%;
  margin: auto;
}
#addBlogImage{width: 50%}
/* Add Blog Form & update blog form */
#blogDetails{width: 50%;}
#updateBlogForm{padding: 10px;}
#addBlogForm textarea,#updateBlogForm textarea{
  width: 100%;
  resize: none;
}
#addBlogForm #blogImage,#updateBlogForm #blogImage{
  outline: none;
  border: none;
}
#addBlogForm button,#updateBlogForm button{background-color: rgb(255, 83, 109)!important;cursor: pointer;margin-top: -1px;}
#addBlogForm button:hover,#updateBlogForm button:hover{background-color: rgb(255, 59, 89)!important;}

/* Sign Up */
#signUpContainer{height: auto}

/* Sign Up Button */
#signUpForm button{
  background-color: rgb(255, 103, 48);
  margin-top: 20px;
}
#signUpForm button:hover{
  background-color: orangered;
}

/* All Blogs */
#mainBlogContainer{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.blogContainer{
  border: 1px solid rgb(145, 145, 145);
  width: 350px;
  height: 300px;
  overflow-y: hidden;
  margin-top: 13px;
}
.blogContainer .blogImageContainer{
  width: 100%;
  height:50%;
  overflow: hidden;
}
.blogImageContainer img{
  width:100%;
  height: 100%;
  object-fit:cover; /* To fit our blog image to given width & height */
  transition: all;
  transition-duration: .4s;
  transition-timing-function: linear;
  opacity: .9;
}
.blogImageContainer img:hover{
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
.blogDetailsContainer{
  padding:5px 6px;
  font-size: 18px;
  letter-spacing: .4px;
  word-spacing: .4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.blogDetailsContainer .blogOperations{
  width: fit-content;
  display: inline-block;
  position: absolute;
  top: 101px;
  right: 5px;  
  margin-left: auto;
  border-top:1px solid rgb(116, 116, 116);
  border-left:1px solid rgb(52, 52, 52);
  border-radius: 200px;
  text-align: center;
  margin-top: -25px;
  transition: all;
  transition-duration: .1s;
  transition-timing-function: linear;
}
.blogOperations:hover{
  border-top: 1px solid rgb(194, 52, 194);
  border-right: 1px solid rgb(255, 166, 0);
  border-bottom: 1px solid rgb(54, 113, 230);
  border-left: 1px solid rgb(57, 216, 17);
}
.material-icons{
  font-size: 24px;
  cursor:pointer;
  opacity: .5;
}
.material-icons:hover{
  font-weight: bold;
  opacity: 1;
}
.blogDescription{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis; /* if our text is overflowing */
}
footer{
  background-color: var(--bgColor);
  color: white;
  font-weight: bold;
  font-family: var(--fontFamily);
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 13px 0px 5px 0px;
  display: grid;
  place-content: center;
}

/* Responsive Site Designing Goes Here */
@media screen and (max-width:900px){
  #root{
    grid-template-rows: auto 1fr auto;
  }
  header #siteLogo{font-size: 23px}
  nav a{font-size: 17.7px;}
  footer{font-size: 14px;}
  
  /* Home(Welcome) Page */
    main #homePage{font-size: 25px}

  /* Login Page & SignUp page */
    #loginContainer #loginTitle,#signUpContainer #signUpTitle{
      font-size: 29px;
      margin-top: 1px;
    }
    #loginForm input,button,#signUpContainer input,button{font-size: 17px;}
    #loginForm button,#signUpForm button{padding: 10px;}

    #loginContainer{width: 90%;height:auto}
    #signUpContainer{
      flex-direction: column;
      height: auto;
      width: 90%;
    }
    #signUpContainer #signUpImage{
      width: 100%;
      height: 30%;
    }
    #signUpTitle{text-align: center}
    #signUpDetails{width: 100%}

    #signUpForm button{margin-top: 17px}

    /* Add Blog Page */
    #addBlogContainer,#updateBlogContainer{
      flex-direction: column;
      width: 50%;
      height: auto;
    }
    #addBlogImage,#blogDetails,#updateBlogImage{
      width: 100%;
    }
}

/* Mobile Version */
@media screen and (max-width:600px){
  #root{
    grid-template-rows: auto 1fr auto;
  }
  header{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  header #siteLogo{
    font-size: 27px;
    width: 100vw;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(113, 196, 229);
    text-align: center;
  }
  header nav{width: 100%}
  nav a {font-size: 17px;}
  footer{font-size: 13px;}
  
  /* Home(Welcome) Page */
    main #homePage{font-size: 30px}

  /* Login Page & SignUp page */
    #loginContainer{
      width: 70%;
      flex-direction: column;
      height: auto;
    }
    #loginContainer #loginTitle,#signUpContainer #signUpTitle{
      font-size: 33px;
      margin-top: 5px;
    }
    #loginForm input,button,#signUpContainer input,button{font-size: 19px;}
    #loginForm button,#signUpForm button{padding: 10px;}
    #signUpContainer{
      flex-direction: column;
      height: auto;
      width: 87%;
    }
    #signUpContainer #signUpImage,#loginContainer #loginImage{
      width: 100%;
      height: 30%;
    }
    #signUpTitle,#loginTitle{text-align: center}
    #signUpDetails,#loginDetails{width: 100%}

    #signUpForm button{margin-top: 17px}

    /* Add Blog Page & Edit Blog Page */
    #addBlogContainer,#updateBlogContainer{
      margin-top: 10px;
      width: 75%;
      height: fit-content;
      margin-left: -7px;
    }
    #createBlogBtn{
      width: 80%;
      font-size: 17px;
      margin: auto;
    }
}